@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

/* .container {
  margin-left: auto;
  margin-right: auto;
  width: 8em;
}
.chats {
}
.chat {
  background-color: chartreuse;
  padding: 6px;
  border-radius: 5px;
}
.chatDiv {
  direction: rtl;
} */
body {
  font-family: "Poppins", sans-serif;
  background-color: #fcfcfc;
}

.chat-area,
.home {
  margin-top: 60px;
}

.chat-groups {
  padding: 20px;
  border-bottom: 1px solid chartreuse;
  background-color: darkkhaki;
  margin-bottom: 5px;
}

.chat-area {
  padding: 20px;
  height: 400px;
  overflow-y: scroll;
}

.chat-area .chat-bubble {
  background-color: #bbdefb;
  padding: 20px;
  border-radius: 4px;
  max-width: 300px;
  word-wrap: break-word;
}

.chat-bubble .chat-time {
  font-size: 12px;
  color: #757575;
  text-align: right;
}

.chat-area .chat-bubble.current-user {
  margin-left: auto;
  background-color: #a5d6a7;
  position: relative;
}

.form-control {
  width: 60%;
}

.form-control:focus {
  box-shadow: none;
}

.btn {
  margin-top: 10px;
}

.btn-submit {
  background-color: #2e7d32;
  color: white;
}

.operation-icon {
  position: absolute;
  top: 17px;
  right: 17px;
}
.text {
  margin-right: 5px;
  word-break: break-word;
}
@media screen and (max-width: 767px) {
  .form-control {
    width: 100%;
  }

  .chat-area .chat-bubble {
    max-width: 250px;
  }
}
